body{
  background-image: url('./assets/jochem-raat-02zqyql2us4-unsplash.jpg');
}
.wrap{
  background-color: aquamarine;
  width: 100%;
}
.App {
  text-align: center;
  height: 500px;
  width: 400px;
  margin: 40px auto;
  background-image: url('./assets/anton-repponen-3MNzGlQM7qs-unsplash.jpg');
  background-repeat: no-repeat;
  

}

.App.clear{
  background-image: url('./assets/clear\ -\ Copy.jpg');
}

.App.clouds{
  background-image: url('./assets/cloudy.jpg');
}

.App.rain{
  background-image: url('./assets/rain.jpg');
  color: #fff;
}

.App.haze{
  background-image: url('./assets/haze.jpg');
}

.App.mist{
  background-image: url('./assets/mist.jpg');
}

.App.smoke{
  background-image: url('./assets/smoke.jpg');
}

.search-box{ 
 width: 100%;
 margin: 0 0 15px;
}

.search-box .search-bar{
display: block;
width: 75%;
padding: 15px;
border-radius: 0 0 16px 16px;
padding: 15px;
margin: 10px auto;
box-shadow: 0px 5px rgb(0,0,0,0.2);
appearance: none;
border: none;
background-color: rgba(255, 255, 255, 0.5);
color: #313131;
font-size: 18px;
outline: none;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  appearance: none;
  outline: none;
}


main{
 min-width: 300px;
 min-height: 500px;
}

.location{
  font-size: 25px;
  font-weight: bold;
  padding: 7px;
}

.date{
  font-size: 20px;
  font-style: italic;
  padding: 7px;
}

.temp{
  position: relative;
  display: inline-block;
  margin: 22px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 10px 25px;
  text-shadow: 1px 6px rgba(50,50,50,0.5);
  font-size: 40px;
}

.humidity{
  font-size: 18px;
}

.weathe-type{
  font-size: 20px;
}
